#input_idInstance {
    width: 200px;
    position: absolute;
    top: 5%;
    right: 55%;
}

#apiToken {
    width: 200px;
    position: absolute;
    top: 9%;
    right: 55%;
}

#getSettings {
    width: 207px;
    height: 30px;
    position: absolute;
    top: 13%;
    right: 55%;
}

#getStateInstance {
    width: 207px;
    height: 30px;
    position: absolute;
    top: 18%;
    right: 55%;
}

#chatID {
    width: 200px;
    position: absolute;
    top: 25%;
    right: 55%;
}

#message {
    width: 200px;
    height: 80px;
    position: absolute;
    top: 29%;
    right: 55%;
}

#sendMessage {
    width: 207px;
    height: 30px;
    position: absolute;
    top: 40%;
    right: 55%;
}

#chatID_2 {
    width: 200px;
    position: absolute;
    top: 48%;
    right: 55%;
}

#url {
    width: 200px;
    position: absolute;
    top: 52%;
    right: 55%;
}

#sendFileByUrl {
    width: 207px;
    height: 30px;
    position: absolute;
    top: 57%;
    right: 55%;
}

p {
    position: absolute;
    top: 1%;
    right: 40%;
}

#outputarea {
    position: absolute;
    top: 5%;
    right: 30%;
    width: 20%;
    height: 700px;
}