#input_idInstance {
    width: 200px;
    position: absolute;
    top: 5%;
    right: 55%;
}

#apiToken {
    width: 200px;
    position: absolute;
    top: 8%;
    right: 55%;
}

#getSettings {
    width: 207px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 11%;
    right: 55%;
}

#getStateInstance {
    width: 207px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 15%;
    right: 55%;
}

#chatID {
    width: 200px;
    position: absolute;
    top: 22%;
    right: 55%;
}

#message {
    width: 200px;
    height: 80px;
    position: absolute;
    top: 25%;
    right: 55%;
}

#sendMessage {
    width: 207px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 35%;
    right: 55%;
}

#chatID_2 {
    width: 200px;
    position: absolute;
    top: 42%;
    right: 55%;
}

#url {
    width: 200px;
    position: absolute;
    top: 45%;
    right: 55%;
}

#sendFileByUrl {
    width: 207px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 48%;
    right: 55%;
}

p {
    position: absolute;
    top: 1%;
    right: 40%;
}

#outputarea {
    position: absolute;
    top: 5%;
    right: 30%;
    width: 20%;
    height: 700px;
}